---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { supportedLang } from "@/lib/utils/languageParser";
import PageHeader from "@/partials/PageHeader.astro";
import { render, type ContentEntryMap } from "astro:content";

export async function getStaticPaths() {
  const paths = await Promise.all(
    supportedLang.map(async (lang) => {
      const pages = await getSinglePage("pages", lang as keyof ContentEntryMap);

      if (!pages || pages.length === 0) {
        return false;
      }

      return pages.map((page) => ({
        params: {
          lang: lang || undefined,
          regular: page.slug,
        },
        props: {
          page,
        },
      }));
    })
  );

  return paths.filter(Boolean).flat();
}

const { page } = Astro.props;

if (!page) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

const { title, meta_title, description, image } = page.data;
const { Content } = await render(page);

const lang = page.id.split("/")[0];
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
  lang={lang}
  canonical={Astro.url.href}
>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
